#content {
    display: none;
}

#loader {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 250px;
}

#loader .img {
    width: 110px;
    /* text-align: center; */
}

.heading {
    /* text-align: center; */
    margin-top: 5px;
    font-size: 24px;
    font-family: Lobster;
    color: red;
    /* font-weight: bolder; */
    font-style: italic;
}

#sliders {
    height: 600px;
    /* width: 100%; */
}

body::before {
    display: block;
    content: '';
    height: 0px;
    width: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}